
//To 입력 섹션 스타일


.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #181818;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;

  &.error {
    border-color: red;
  }
}

.errorMessage {
  font-size: 14px;
  color: red;
}
